body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.slideshow-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: yellow;
  color:;
  text-shadow: 2px 2px 8px rgba(1,0,0,0.7);
}

.slide {
  display: none;
}

.fade {
  animation: fade 5s ease-in-out;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.card {
  border: none;
  border-radius: 10px;
}
<style>
  .mission-text {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
  }
</style>

